.main_section {
  padding: 20px 40px;
}

.container {
  padding: 20px;
  transform: translateY(-100px);
  background-color: #fff;
  border-radius: 20px;
  
}

.image_container {
  padding: 20px;
  transform: translateY(-100px);
  background-color: #ffffff0f;
  border-radius: 20px;
  position: absolute;

}